.home {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 60px;
  justify-items: center;
  align-items: center;
  padding: 40px;
  padding-left: 140px;
}

.blur {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  padding-left: 100px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.active {
  border: 2px solid red;
  background-color: rgb(190, 63, 70);
  box-shadow: 0 0 10px red;
}
